@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 100px;
    z-index: 100;

    position: absolute;
    top: 0;
    left: 0;
}

.logo-img{
    width: 200px;
    transition-duration: 0.5s;
}

.logo-img:hover{
    width: 205px;
    
}

.nav{
    display: flex;
}

.nav-list-text{
    text-decoration: none;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    margin: 0 10px;
    transition-duration: 0.5s;
}

.nav-list-text:hover{
    color: red;
}

.search{
    position: relative;
    width: 300px;
    height: 40px;
}

.search input{
    width: 100%;
    height: 100%;
    padding: 0 10px 0 46px;
    background: transparent;
    border: 2px solid rgb(255,51,51);
    border-radius: 14px;
    backdrop-filter: blur(10px);
    outline: none;
    color: white;

    position: absolute;
    top: 0;
    left: 0;
}

.search .fa-search{
    color: white;
    padding-right: 10px;
    border-right: 1px solid white;
   
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);
}

.search input::placeholder{
    color: white;
}

.banner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    
    position: relative;
}

.img-banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;

    position: absolute;
    top: 0;
    left: 0;
}

.content{
    position: relative;
    z-index: 1;
    max-width: 550px;
}

.content h2{
    font-family: 'Noto Sans JP';
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}

.content h4{
    font-weight: bold;
    color: white;
}

.content h4 span{
    padding: 0 10px;
    border-right: 1px solid grey;
}

.content h4 span:first-child{
    padding-left: 0;
}

.content h4 span:last-child{
    padding-right: none;
}

.content h4 span i{
    display: inline-block;
    background-color: orange;
    padding: 0 8px;
}

.content p{
    font-weight: 300;
    color: white;
    margin: 5px 0 20px;
}

.buttons a{
    display: inline-block;
    margin-right: 10px;
    padding: 9px 10px;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0.5rem 1rem rgb(0,0,0,0.7);
    border: 0.1rem solid rgba(0,0,0,0.7);
    position: relative;
}

.buttons a:nth-child(2){
    background-color: black;
}

.buttons a:nth-child(2):hover{
    background-color: red;
}

.play{
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    
    position: absolute;
    bottom: 50px;
    left: 100px;
}

.img-play{
    width: 5%;
    margin: 16px;
}

.trailer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    z-index: 100000;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}

.trailer video{
    max-width: 900px;
    box-shadow: 0 0.5rem 1rem rgb(0,0,0,0.7);
    border: 0.1rem solid white;
}

.close{
    max-width: 32px;
    filter: invert(1);
    cursor: pointer;

    position: absolute;
    top: 30px;
    right: 30px;
}