@media(max-width: 1280px){
    header{
        padding: 20px 50px;
        flex-direction: column;
    }

    .nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5px 0;
    }

    .nav-list-text{
        color: white;
    }

    .nav-list-text:hover{
        color: red
    }

    .content h2{
        margin-top: 55px;
    }

    .banner{
        padding: 100px 50px;
    }

    .banner .play{
        left: 50px;
        font-size: 16px;
    }

    .play img{
        max-width: 40px;
        margin-right: 10px;
    }

    .trailer video{
        max-width: 90%;
    }
}

@media(max-width: 767px){
    header{
        padding: 20px;
    }

    .search{
        position: relative;
        width: calc(100% - 20px);
        height: 40px;
    }

    .banner .play{
        padding: 20px;
        bottom: 30px;
    }
}

@media(max-width: 377px){
    .content{
        margin-top: 50px;
    }
}